<form [formGroup]="tareaForm" (ngSubmit)="onSubmit()">
  <div class="InputField">
    <label for="titulo">Tarea:</label>
    <input type="text" id="titulo" formControlName="titulo" required />
  </div>
  <div class="InputField">
    <label for="descripcion">Descripción</label>
    <input
      type="text"
      id="descripcion"
      formControlName="descripcion"
      required
    />
  </div>
  <div class="InputField">
    <label for="prioridad">Prioridad:</label>
    <select id="prioridad" formControlName="prioridad" required>
      <option value="alta">Alta</option>
      <option value="media">Media</option>
      <option value="baja">Baja</option>
    </select>
  </div>
  <div id="send">
    <button type="submit">Editar Tarea</button>
  </div>
</form>
