
.content{
    margin: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 20px;
        background-color: #f9f9f9;
    }  

h1{
    text-align: center;
}
 
ul{
    list-style: none;
    padding: 0;
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}


span{
    margin: 5px;
    padding:10px;
    color: rgb(0, 0, 0);
    border-radius: 10px;

} 

#Eliminarbtn{
    background-color: tomato;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#Eliminarbtn:hover{
    background-color: rgb(223, 115, 96);
    color: black;

}

#Editarbtn{
    background-color: lightblue;
    color: rgb(5, 5, 5);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#Editarbtn:hover{
    background-color: rgb(110, 110, 248);
    color: white;

}